<link rel="stylesheet" href="/stylesheets/style.css">

<nav>
  <div class="nav-title">
    Cody Leveille Capstone Project
  </div>

  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/slideshow">Slideshow</a>
    <a href="/about">About Me</a>
    <a href="/project">Project</a>
  </div>
</nav>

