{{> header}}

<main style="font-family: Arial; padding: 40px;">
  <h1>About Me</h1>
  <p>
    My name is Cody Leveille, and this web application is part of my CS-499 Capstone at SNHU.
    It serves as a demonstration of my skills as a developer and shows growth in essential skills needed to succeed in the field of computer science.
    
  </p>

  <p>
    I have a background in cybersecurity and software development, and I enjoy building projects
    that utilize secure coding practices with emphisis on design and maintainability. 
  </p>
</main>
