{{> header}}

<main style="font-family: Arial; padding: 60px;">
  <h1 style="margin-bottom: 10px;">{{message}}</h1>
  <p style="font-size: 18px; color: #444;">
    Welcome to my Capstone project for CS-499, this project will demonstrate modern software engineering
    practices including MVC architecture, modular design, and dynamic rendering.
  </p>
</main>

