{{> header}}


<main style="font-family: Arial; padding: 40px;">
  <h1>About This Project</h1>

  <p>
    This project is an enhanced version of my original Top Destinations slideshow artifact.
    I rebuilt it into a modern web application using Node.js, Express, and Handlebars,
    following MVC architecture.
  </p>

  <p>
    The application demonstrates:
  </p>

  <ul>
    <li>Software design and engineering using a layered structure (routes, controllers, services, views)</li>
    <li>Use of structured data through a JSON</li>
    <li>Dynamic rendering of web pages and a display of the destinations of the slideshow</li>
    <li>Future enhancements will integrate data structures and a database(MongoDB)</li>
  </ul>

  <p>
    This page will primarily be used to provide notes along the development process of this capstone project and how i
    evolved past a simple java application written years ago.
  </p>
</main>
