{{> header}}


<main style="font-family: Arial; padding: 40px;">
  <h1>About This Project</h1>

  <p>
    This project is an enhanced version of my original Top Destinations slideshow artifact.
    I rebuilt it into a modern web application using Node.js, Express, and Handlebars,
    following MVC architecture.
  </p>

  <p>
    The application demonstrates:
  </p>

  <ul>
    <li>Software design and engineering using a layered structure (routes, controllers, services, views)</li>
    <li>Use of structured data through a JSON</li>
    <li>Dynamic rendering of web pages and a display of the destinations of the slideshow</li>
    <li>Future enhancements will integrate data structures and a database(MongoDB)</li>
  </ul>

  <p>
    This page will primarily be used to provide notes along the development process of this capstone project and how i
    evolved past a simple java application written years ago.
  </p>

   <p>
   Enhancement 1 focused on rebuilding the project from the ground up it took a simple java slideshow and turned it into 
   a functional Express web application that utilized handlers, routes and controllers and rendered things dynamically through hbs pages

  </p>
   <p>
    Enhancement 2 focused on implementing a fucntional slideshow similar to the original project but implemented a sorting method to display destinations by their overall rank.
    It utilizes a simple scrolling method to allow a user to navigate through the page without any refreshing required. This enhancement also implemented a hashmap to allow fast lookups of data
    by their name.
  </p>
</main>
